<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <!-- Values: dev, qa1-qa6, uat. If empty, will default to production -->
    <add key="ENV" value="##ENV_PREFIX##" />
    <add key="Waggle.Url" value="http://##ENV_PREFIX##waggle.findly.com/" />
    <add key="FeatureToggle.Url" value="http://##ENV_PREFIX##featuretoggle.findly.com/" />
    <add key="ProductName" value="Waggle" />

    <!-- Test Accounts - QA -->
    <!--<add key="Waggle.User.Name" value="findlyqa+dmpauto@findly.com" />
    <add key="Waggle.User.Password" value="monday99" /> -->
    <add key="Waggle.User.Name" value="agnes@findly.com" />
    <add key="Waggle.User.Password" value="Monday99" />

    <!--Device Automation Settings-->
    <add key="SauceLabs.Enabled" value="false" />
    <add key="SauceLabs.Device" value="iPhone 6" />
    <!--<add key="SauceLabs.Device.Version" value="4.4"/> Uncomment this to run the device on a specific version. Otherwise it will run on the latest-->
    <add key="SauceLabs.UserName" value="Robert_Findly" />
    <add key="SauceLabs.AccessKey" value="d64a7b2c-37cc-4f73-b06b-ba2f6cbbd5ae" />

    <add key="Chrome.Device" value="Google Nexus 5" />

    <!-- Selenium Configuration -->
    <!-- Expected Browser values: chrome, firefox -->
    <add key="Browser" value="chrome" />

    <!-- Selenium Grid / uncomment this out to run remotely -->
    <!--<add key="Selenium.Grid.RemoteAddress" value="http://localhost:4444/wd/hub"/>-->
    <!--<add key="Selenium.Grid.RemoteAddress" value="http://localhost:9515"/>-->

    <!-- Browser Size http://www.w3counter.com/globalstats.php -->
    <add key="Browser.Width" value="1366" />
    <add key="Browser.Height" value="768" />

    <!-- Misc -->
    <add key="ScreenShotDirectory" value=".\" />
    <add key="HttpUrlForScreenShot" value="http://54.183.34.127/" />

  </appSettings>

</configuration>