<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <!-- Values: dev, qa1-qa6, uat. If empty, will default to production -->
    <add key="ENV" value="qa1" />
    <add key="Waggle.Url" value="http://##ENV_PREFIX##waggle.findly.com/" />
    <add key="FeatureToggle.Url" value="http://##ENV_PREFIX##featuretoggle.findly.com/" />
    <add key="ProductName" value="Waggle" />

    <!--Device Automation Settings-->
    <add key="SauceLabs.Enabled" value="false" />
    <add key="SauceLabs.Device" value="iPhone 6" />
    <!--<add key="SauceLabs.Device.Version" value="4.4"/> Uncomment this to run the device on a specific version. Otherwise it will run on the latest-->
    <add key="SauceLabs.UserName" value="Robert_Findly" />
    <add key="SauceLabs.AccessKey" value="d64a7b2c-37cc-4f73-b06b-ba2f6cbbd5ae" />

    <add key="Chrome.Device" value="Google Nexus 5" />

    <!-- Test Accounts - QA -->
    <add key="Waggle.User.Name" value="findlyqa+dmpauto@findly.com" />
    <add key="Waggle.User.Password" value="monday99" />

    <!-- Selenium Configuration -->
    <!-- Expected Browser values: chrome, firefox -->
    <add key="Browser" value="chrome" />
    <!-- Selenium Grid / uncomment this out to run remotely -->
    <!--<add key="Selenium.Grid.RemoteAddress" value="http://localhost:4444/wd/hub"/>-->
    <!--<add key="Selenium.Grid.RemoteAddress" value="http://localhost:9515"/>-->
    <!-- Browser Size http://www.w3counter.com/globalstats.php -->
    <add key="Browser.Width" value="1366" />
    <add key="Browser.Height" value="768" />

    <!-- Misc -->
    <add key="ScreenShotDirectory" value=".\" />
    <add key="HttpUrlForScreenShot" value="http://54.183.34.127/" />

  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun+NUnit" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
    <stepAssemblies>
      <stepAssembly assembly="Findly.FunctionalAutomation" />
    </stepAssemblies>
  </specFlow>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.77" newVersion="1.9.0.77" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.57.0" newVersion="1.2.57.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>