<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </activePackageSource>
  <packageSourceCredentials>
    <Findly_x0020_MyGet>
      <add key="Username" value="findlybuild" />
      <add key="ClearTextPassword" value="P6;jWn;@" />
    </Findly_x0020_MyGet>
  </packageSourceCredentials>
  <packageSources>
    <add key="Findly MyGet" value="https://findly.myget.org/F/findly/" />
  </packageSources>
</configuration>
